#sum {
    height: 200px;
    background-color:#D6E6D9;
    font-size: 50px;
}

.button {
    background-color: black;
    height: 10vw;
    min-height: 80px;
    border: 10px solid white;
    color: white;
    text-align: center;
    font-size: 40px;
}

